[Unit]
Description=OLED Display Python Script
After=network.target

[Service]
Type=simple
ExecStop=/usr/bin/python3 /home/oled/oled_off.py

[Install]
WantedBy=multi-user.target
